<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Img</title>
</head>
<body>
    <form action="/Img_creation/" method="post">
        {% csrf_token %}
            <div align="center">
                <img src="" id="left_img" height="150px" width="150px" style="border: blue 2px solid">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <img src="" id="right_img" height="150px" width="150px" style="border: blue 2px solid">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <img src="" id="front_img" height="150px" width="150px" style="border: blue 2px solid">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <img src="" id="back_img" height="150px" width="150px" style="border: blue 2px solid">

                <br>

                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                <input type="file" name="img" id="left" accept="image/*" onchange="previewImage(event, this.id)">&nbsp;&nbsp;&nbsp;
                <input type="file" name="img" id="right" accept="image/*" onchange="previewImage(event, this.id)">&nbsp;&nbsp;&nbsp;
                <input type="file" name="img" id="front" accept="image/*" onchange="previewImage(event, this.id)">&nbsp;&emsp13;&emsp13;
                <input type="file" name="img" id="back" accept="image/*" onchange="previewImage(event, this.id)">

                <br>
                <br>
                <br>

                <button type="submit">Submit</button> <!-- Generate -->
            </div>
            <br>
            <br>
    </form>

    <script type="text/javascript">

        function previewImage(event, ID) {
            const input = event.target;
            const preview = document.getElementById(ID+'_img');

                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                };

                reader.readAsDataURL(input.files[0]); // Convert file to a Data URL

        }

    </script>

</body>
</html>