<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/SignUp/">Sign Up</a> &emsp;
        <a href="/Login/">Sign In</a>
        <div align="center">

            <a href="/Img_creation/"><button>Let's Create a 3D Picture</button></a>

            <br>
            <br>
            <br>
            <br>

            <img src="{{ file_url }}" height="150px" width="150px" style="border: blue 3px solid;">

        </div>
    </div>
</body>
</html>