<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <div>
        <a href="/SignUp/">Sign Up</a> &emsp;
        <a href="/Login/">Sign In</a>

            <br>
            <br>
            <br>
            <br>

        {% if user_data %}
            <label>{{ user_data.user_name }}</label>
        {% endif %}

        <div align="center">

            <a href="/Img_creation/"><button>Let's Create a 3D Picture</button></a>

            <br>
            <br>
            <br>
            <br>

        </div>

        {% if image_data %}
            {% for data in image_data %}

                <br>
                <div align="center" style="border: blue 1px solid;">

                    <img src="{{ data.left_img }}" height="120px" width="120px" style="border: blue 2px solid;"> &nbsp;
                    <img src="{{ data.right_img }}" height="120px" width="120px" style="border: blue 2px solid;"> &nbsp;
                    <img src="{{ data.front_img }}" height="120px" width="120px" style="border: blue 2px solid;"> &nbsp;
                    <img src="{{ data.back_img }}" height="120px" width="120px" style="border: blue 2px solid;"> &emsp;&emsp;
                    <a href="{{ data.file_3D_img }}"><button>Download 3D Model</button></a>

                </div>
                <br>

            {% endfor %}
        {% else %}
            <p> No image uploaded. </p>
        {% endif %}



<!--            <input type="file">-->


    </div>
</body>
</html>